<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('blocks/navigation') -%>
    <div class="container">
        <div class="flight-info" style="gap: 8px; width: 800px;">
            <h2>Города</h2>
            <% count_station.forEach(city => { %>
                <% if (city.station_count > 1) { %>
                    <span><a href="/station/city_<%= city.name_city %>"><%= city.name_city %></a></span>
                <% } else { %>
                    <% const station = stationName.find(station => station.id_city === city.id_city); %>
                    <% if (station) { %>
                        <span><a href="/station/city_<%= city.name_city %>/station_<%= station.name_station %>"><%= city.name_city %></a></span>
                    <% } else { %>
                        <span><a href="/station/city_<%= city.name_city %>">No station found for <%= city.name_city %></a></span>
                    <% } %>
                <% } %>
            <% }); %>
        </div>

        
        <h2>Маршруты</h2>
        
            <% flights_all.forEach(flight => { %>
                <div class="flight">
                <% if (flight.name_train_category.charAt(0) === 'Л') { %>
                    <div class="flight-info" style="width: 900px;">
                        <div class="flight-info-train">
                            <span style="font-weight: bold; color: rgb(3, 3, 195);">
                                <%= 'Ласточка' %>
                            </span>
                <% } else if (flight.name_train_category.charAt(0) === 'С') { %>
                    <div class="flight-info" style="width: 900px;">
                        <div class="flight-info-train">
                            <span style="font-weight: bold; color: rgb(213, 0, 0);">
                                <%= 'Сапсан' %>
                            </span>
                <% } else if (flight.name_train_category.charAt(0) === 'К') { %>
                    <div class="flight-info"  style="width: 900px;">
                        <div class="flight-info-train">
                            <span style="font-weight: bold; color: rgb(1, 104, 1);">
                                <%= 'Стандартный' %>
                            </span>
                <% } %>
        
                <span>Рейс: <%= flight.flight_number %></span>
                <span>Поезд: <%= flight.number_train %></span>
                
                </div>
                <div class="flight-info-city-time">
                    <div class="flight-info-out">
                        <span style="font-weight: bold; color:#016d8e;">
                            <%= flight.city_1 %><br>Вокзал <%= flight.station_1 %></span>
                        <span><%= flight.time_start %></span>
                    </div>
                    <div class="flight-info-time">
                        <span>-------------------------></span>
                        <span>Время в пути: <%= flight.time_way %></span>
                    </div>
                    <div class="flight-info-in">
                        <span style="font-weight: bold; color:#016d8e;">
                            <%= flight.city_2 %><br>Вокзал <%= flight.station_2 %></span>
                        <span><%= flight.time_end %></span>
                    </div>
                </div>
            </div>
            </div>
        <% }); %>
    </div>
</body>
</html>